.text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.text2 {
  font-family: "Poppins", sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.ss {
  justify-content: center;
  display: flex;
}

.ss1 {
  padding-left: 15px;
  padding-right: 15px;
}

.ss2 {
  padding-left: 15px;
  padding-right: 15px;
}

.code1 a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bold;
  text-decoration-color: white;
  color: inherit;
}

.code2 a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bold;
  text-decoration-color: white;
  color: inherit;
}
