.cont-project {
  justify-content: center;
}

.text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.text2 {
  font-family: "Poppins", sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.ss {
  justify-content: center;
  display: flex;
  padding-top: 20px;
}

.imgss1 {
  padding-right: 15px;
}

.img1 {
  border-radius: 20px;
  height: 250px;
}

.imgss2 {
  padding-left: 15px;
}

.img2 {
  border-radius: 20px;
  height: 250px;
}

.code1 {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: #00e0c6;
  padding: 8px;
  background-color: #00e0c6;
  color: #000000;
}
.code1 a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bold;
  text-decoration-color: white;
  color: inherit;
}

.code2 {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: #00e0c6;
  padding: 8px;
  background-color: #00e0c6;
  color: #000000;
}
.code2 a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bold;
  text-decoration-color: white;
  color: inherit;
}

.logo-source-code {
  height: 25px;
  width: auto;
}
@media screen and (min-width: 320px) {
  .text {
    font-size: 30px;
  }

  .text2 {
    font-size: 27px;
  }

  .ss {
    flex-direction: column;
    justify-content: center;
  }

  .imgss1 {
    padding-right: 0px;
    margin-bottom: 60px;
  }

  .imgss2 {
    padding-left: 0px;
  }

  .img1 {
    height: auto;
    width: 85%;
  }

  .img2 {
    height: auto;
    width: 85%;
  }

  .img3 {
    height: auto;
    width: 45%;
    border-radius: 20px;
  }

  .code1 a {
    font-size: 25px;
  }

  .code2 a {
    font-size: 25px;
  }

  .logo-source-code {
    align-items: center;
    padding-right: 5px;
    height: 21px;
    width: auto;
  }
}

@media screen and (min-width: 480px) {
  .text {
    font-size: 30px;
  }
  .text2 {
    font-size: 27px;
  }
  .ss {
    flex-direction: column;
    justify-content: center;
  }
  .imgss1 {
    padding-right: 0px;
    margin-bottom: 60px;
  }
  .imgss2 {
    padding-left: 0px;
  }
  .img1 {
    height: auto;
    width: 85%;
  }
  .img2 {
    height: auto;
    width: 85%;
  }
  .code1 {
    margin-top: 20px;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
  }
  .code1 a {
    font-size: 25px;
  }
  .code2 {
    margin-top: 20px;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
  }
  .code2 a {
    font-size: 25px;
  }
  .logo-source-code {
    padding-top: 7px;
  }
}

@media screen and (min-width: 1024px) {
  .text {
    font-size: 16px;
  }
  .text2 {
    font-size: 18px;
  }
  .ss {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .imgss1 {
    padding-right: 0px;
    margin-bottom: 60px;
  }
  .imgss2 {
    padding-left: 0px;
  }
  .img1 {
    height: auto;
    width: 85%;
  }
  .img2 {
    height: auto;
    width: 85%;
  }
  .code1 a {
    font-size: 17px;
  }
  .logo-source-code {
    height: 22px;
    width: auto;
    padding-top: 0px;
  }
  .code2 a {
    font-size: 17px;
  }
}
