.cont-header {
  width: 100%;
}

.header {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  padding-bottom: 30px;
  background-color: #009393;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  top: 0px;
  padding: 1.5rem;
}

.logo{
  padding-left: 40px;
  padding-right: 900px;
}
.button {
  text-decoration: none;
  color: #ffffff;
  font-weight: bolder;
}
