.cont-details {
  display: flex;
  max-width: 60%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
}

.details {
  justify-content: center;
  margin-right: 200px;
  flex-direction: column;
}

.intro {
  text-align: left;
}

.intCont {
  margin-top: 1rem;
  text-align: left;
  display: block;
}

.Greeting {
  font-family: "Oswald", sans-serif;
  font-size: 255px;
  font-size: 20px;
  text-align: left;
}

.About {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: left;
  justify-content: center;
}

.content-interest {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}

.Typing {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.social {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  text-align: left;
  margin: 15px 0px 10px 0px;
  font-weight: 700;
}

.cont-foto {
  justify-content: center;
}

.foto {
  border-radius: 40%;
}

.ig {
  margin: 0rem;
  padding: 8px 8px 3px 8px;
  border-radius: 9px;
  justify-content: center;
  background-color: #00e0c6;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
}

.linkedin {
  margin: 0rem 0.75rem;
  padding: 8px 8px 3px 8px;
  border-radius: 9px;
  justify-content: center;
  background-color: #00e0c6;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
}

.github {
  margin: 0rem;
  padding: 8px 8px 3px 8px;
  border-radius: 9px;
  justify-content: center;
  background-color: #00e0c6;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
}

.socmed {
  display: flex;
}

.email {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #00e0c6;
  color: #000000;
  border-color: #000000;
  border-width: 2px;
  border-style: solid;
}

@media screen and (min-width: 480px) {
  .details {
    padding-left: 20px;
  }

  .Greeting {
    font-size: 25px;
  }

  .About {
    font-size: 21px;
  }

  .content-interest {
    font-size: 20px;
  }

  .Typing {
    font-size: 16px;
  }

  .social {
    font-size: 20px;
  }

  .foto {
    padding-right: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .details {
    padding-left: 20px;
  }

  .Greeting {
    font-size: 18px;
  }

  .About {
    font-size: 17px;
  }

  .social {
    font-size: 23px;
  }

  .Typing {
    font-size: 17px;
  }

  .foto {
    padding-right: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .details {
    padding-left: 0px;
  }
}
