.con {
  max-width: 70%;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.conta {
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 10px;
  padding-top: 20px;
  border-radius: 40px;
  display: flex;
  background-color: #3a5a40;
  justify-content: center;
}
.skill {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding-bottom: 20px;
}

.css {
  padding-left: 20px;
  padding-right: 20px;
}

.html {
  padding-left: 20px;
  padding-right: 20px;
}

.figma {
  padding-left: 20px;
  padding-right: 20px;
}

.vsc {
  padding-left: 20px;
  padding-right: 20px;
}
