.conta{
    position: absolute;
    top: 75%;
    left: 29em;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 40px;
    display: flex;
    background-color: #EFB2FF;
}
.skill{
    position: absolute;
    top: 67%;
    left: 46%;
}

.css{
    padding-left: 20px;
    padding-right: 20px;
}

.html{
    padding-left: 20px;
    padding-right: 20px;
}

.figma{
    padding-left: 20px;
    padding-right: 20px;
}

.vsc{
    padding-left: 20px;
    padding-right: 20px;
}